.grid {
    display: grid;
    /* grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px); */
    justify-content: center;
} 

.grid > * {
    background-color: #ecc3a8;
    border-radius: 5px;
    padding: 7px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 50px;
 }

 .header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
